amqp==5.0.6
beautifulsoup4==4.9.3
billiard==3.6.4.0
celery==5.2.2
certifi==2021.5.30
charset-normalizer==2.0.3
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
click==7.1.2
flask==1.1.4
idna==3.2
itsdangerous==1.1.0
jinja2==2.11.3
kombu==5.1.0
markupsafe==2.0.1
prompt-toolkit==3.0.19
python-dotenv==0.19.0
pytz==2021.1
redis==3.5.3
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
werkzeug==1.0.1
